*
!.gitignore

!.editorconfig
!.env.example

!compose.database.yml
!compose.monitoring.yml
!compose.traefik.yml
!compose.yaml
!compose.sample-override.yaml
!compose.yml
!docker.yml

!LICENSE

!podman-rootful.yml
!podman.yml

!README.md

!.github/
!.github/workflows/
!.github/workflows/generate-aio.yaml

!compose_files/
!compose_files/**/
!compose_files/**/*.yaml

!files/
!files/**/
!files/**/*

!generated/
!generated/docker-compose-no-traefik.yml
!generated/docker-compose.yml
